.how{
    min-height: 700px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.how__inner{
    display: flex;
    justify-content: space-between;
}
.how__content{
    max-width: 735px;
}
.how__image{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
}
.how__img{
    width: 100%;
}

.how__title{
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 65px;
    color: #000000;
    position: relative;
    margin-bottom: 80px;
}
.how__title::after{
    position: absolute;
    content: 'do it right!';
    left: 0;
    top: 45px;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 35px;
    color: #919191;
}
.how__title::before{
    content: '';
    position: absolute;
    width: 340px;
    height: 9px;
    margin-left: 260px;
    top: 52px;
    background-image: url('../images/home/group.svg');
    background-repeat: no-repeat;
}
.how__descr{
    font-weight: 400;
    font-size: 20px;
    line-height: 37px;
}

.how__learn-item{
    margin-bottom: 150px;
}
.how__item-content{
    display: flex;
}
.how__item-title{
    font-weight: 700;
    font-size: 30px;
    line-height: 55px;
    color: #000000;
    margin-bottom: 40px;
}
.how__item-descr{
    font-size: 20px;
    line-height: 37px;
}

.how__item-img {
    float:left; /* Выравнивание по левому краю */
    margin-right: 40px;
}

.how__learn-image{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 70px;
}

.how__learn-img{
    width: 350px;
}


.next_page-content{
    justify-content: end;
}

@media (max-width: 1010px) {
    .how {
        padding: 170px 0;
    }
    .how__inner{
        display: block;
    }
    .how__img{
        width: 40%;
    }
    .how__content{
        max-width: 100%;
        text-align: left;
    }
    .how__title{
        margin-bottom: 60px;
    }
    .how__item-content{
        flex-direction: column-reverse;
    }
    .how__learn-image{
        margin-left: 0;
    }
    .how__learn-img{
        width: 50%;
    }
    .how__item-image{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .how__item-img {
        float:none;
        margin-right: 0;
        margin-bottom: 20px;
    }
}
@media (max-width: 930px) {
    .how__item-title{
        font-size: 37px;
        line-height: 55px;
    }
}
@media (max-width: 770px) {
    .how__title{
        line-height: 30px;
    }
    .how__title::after{
        top: 26px;
        font-size: 24px;
        line-height: 35px;
    }
    .how__title::before{
        width: 344px;
        margin-left: 260px;
        top: 40px;
    }
    .how {
        padding: 100px 0;
    }

}

@media (max-width: 660px) {
    .how__title{
        font-size: 35px;
    }
    .how__title::before{
        width: 277px;
        margin-left: 230px;
        top: 40px;
    }  
}
@media (max-width: 582px) {
    .how__title{
        font-size: 30px;
    }
    .how__title::before{
        width: 256px;
        top: 30px;
        margin-left: 200px;
    }  
}

@media (max-width: 564px) {
    .how__item-img{
        width: 100%;
    }
}
@media (max-width: 506px) {
    .how__item-img{
        width: 100%;
    }
    .how__title::before{
        width: 200px;
        top: 30px;
        margin-left: 130px;
    }  
    .how__title::after{
        top: 50px;
    }
}
    
@media (max-width: 490px) {
    .how__title::after{
        left: 0;
        top: 20px;
        font-weight: 400;
        font-size: 18px;
        line-height: 24px;
    }
    .how__title::before{
        width: 177px;
        height: 9px;
        margin-left: 150px;
        top: 30px;
    }    
    .how__descr{
        font-size: 18px;
        line-height: 29px;
    }

    .how__item-title, .how__title{
        font-weight: 700;
        font-size: 22px;
        line-height: 30px;
    }
    .how__item-descr{
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 29px;
    }
}